name: Hello World

on:
  workflow_dispatch:
  pull_request:
  pull_request_target:
jobs:
  hello-world:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout the head commit of the branch
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: Say hello
      run: |
        echo "${{ secrets.greeting }} World!"

